%header
  .container
    =link_to 'Last Ascent', '/', class: 'la-logo-type'
    %span.menu-expando.la-logo-type{onclick: 'toggleHeader()'}
    %nav.nav-list
      %ul.nav-links
        %li.nav-link-item
          = link_to 'Climbing Log', '/log'
        %li.nav-link-item
          = link_to 'About', '/about'
        /%li.nav-link-item
        /  = link_to 'Blog', '/blog'

    :javascript
      function toggleHeader(elem) {
        var a = document.getElementsByClassName('nav-list')[0];
        if (a.classList.length > 1) {
          a.className = 'nav-list'
        } else {
          a.className += ' open';
        }
      }
