%header
  .container{onclick: 'toggleHeader()'}
    /%img.tws-logo / Placeholder
    %h4.tws-logo-type
      Tea With Strangers
    %nav.nav-list
      %ul.nav-links
        %li.nav-link-item
          = link_to 'Contribute', '/github'
        %li.nav-link-item
          = link_to 'Team', '/team'
        %li.nav-link-item
          = link_to 'Blog', '/blog'
        %li.nav-link-item
          = link_to 'Let\'s Get Tea', 'http://teawithstrangers.com'

    :javascript
      function toggleHeader(elem) {
        var a = document.getElementsByClassName('nav-list')[0];
        if (a.classList.length > 1) {
          a.className = 'nav-list'
        } else {
          a.className += ' open';
        }
      }
