---
layout: blog
---

.container.post-listing
  %article.post
    %h3.post-title About Me
    .post-summary.post-body
      :markdown

        ![Eldorado Summit](/images/about/eldo-summit-profile.jpg)

        I started climbing in February 2015, at the behest of friends who
        insisted it would cure my irrational fear of heights. I was hooked by
        the end of my first session. 
        
        The combination of creativity and technical understanding required to
        read and send a problem was instantly appealing. Within a week, I'd
        signed up for the first gym membership of my life. Within a year, I'd
        had every form of tendonitis and tendonosis a climber can experience, a
        pair of A3 pulley injuries, and a handful of V6s and V7s crossed off my
        tick list. 
        
        Injury drove me to sport climbing. Unable to crimp without searing pain,
        I aimed to compensate by developing some of that "endurance" and
        "technique" that I'd heard of from rope climbers wandering through the
        bouldering pens. While I'd TR'd some in the past, the constant intrusion
        of the rope had left me disinterested in anything but bouldering.
        Leading changed that. The adrenaline rush of clipping while pumped, the
        intricacies of rest timing, and the economy of motion required to send
        long, hard routes made it feel like an entirely different sport.

        Hooked on leading, I eventually found myself climbing with a pair of
        mountaineers. They convinced me that I wasn't having enough Type II fun
        and should *at least* try trad climbing if I wasn't going to join them
        in walking slowly uphill. 
        
        [The rest is history](/log).


        
