= partial 'partials/header'

.last-ascent-landing.cover-photo
  .container
    .content
      %h3.cover-photo-lede An Average Climber's Log
      %p.cover-photo-body
        A first ascent may forever escape one's grasp. Fortunately, you can
        always endeavour to have been the <i>last</i> to stand atop a peak.
      %p.cover-photo-body
        This is the chronicle of one moderately incompent climber's attempts to
        earn the fleeting glory of these "Last Ascents", if only for a moment.
      %a{href: "/log"}
        %button.blue.cover-photo-cta
          I'm Interested

.container.latest-post
  %section.copy-section
    - if blog.articles.first 
      = partial "partials/article", locals: {article: blog.articles.first, classes: ""} 
    - else
      %p Nothing to see here

/.about
/  .container
/    %section.copy-section
/      %h3.copy-section-header
/        Why?
/      :markdown
/        Test
